@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-newsreader);
  --font-serif-body: var(--font-merriweather);
}

@layer utilities {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-gray-200;
  }

  .bg-grid-slate-100 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(241 245 249)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }
}